---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/index.scss";
import { log } from "astro/dist/core/logger/core";

const firstcall = await fetch("https://rickandmortyapi.com/api/character/");
const dataFirstCall = await firstcall.json();
const latestPage = dataFirstCall.info.pages;

const response = await fetch(
  `https://rickandmortyapi.com/api/character?page=${latestPage}`
);
const characters = await response.json();
// console.log(characters.results[0].origin);
// console.log(characters.results[0]);
// console.log(characters);
---

<Layout title="Welcome to Astro.">
  <section>
    {
      (
        <>
          <span>
            {" "}
            cantidad total de personajes <b> {characters.info.count}</b>
          </span>
          <a href="/characters/page/1">Ver todos los personajes</a>
        </>
      )
    }
  </section>
  <main class="main">
    {
      characters.results.map((character) => (
        <Card
          id={character.id}
          name={character.name}
          image={character.image}
          gender={character.gender}
          created={character.created}
          status={character.status}
          species={character.species}
          url={character.url}
          type={character.type}
          origin={character.origin}
          location={character.location}
          episode={character.episode}
        />
      ))
    }
  </main>
</Layout>
