---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/index.scss";

const response = await fetch("https://rickandmortyapi.com/api/character");
const characters = await response.json();
// console.log(characters.results[0].origin);
// console.log(characters.results[0]);
---

<Layout title="Welcome to Astro.">
  <main class="main">
    {
      characters.results.map((character) => (
        <Card
          id={character.id}
          name={character.name}
          image={character.image}
          gender={character.gender}
          created={character.created}
          status={character.status}
          species={character.species}
          url={character.url}
          type={character.type}
          origin={character.origin}
          location={character.location}
          episode={character.episode}
        />
      ))
    }

    <section>
      {
        (
          <span>
            {" "}
            cantidad total de personajes <b> {characters.info.count}</b>
          </span>
        )
      }
    </section>
  </main>
</Layout>
